[submodule ".bin"]
	path = .bin
	url = git://github.com/akerl/scripts
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby
[submodule ".vim/bundle/vim-ledger"]
	path = .vim/bundle/vim-ledger
	url = git://github.com/ledger/vim-ledger
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet
[submodule ".vim/bundle/DetectIndent"]
	path = .vim/bundle/DetectIndent
	url = git://github.com/vim-scripts/DetectIndent
[submodule ".vim/bundle/nginx.vim"]
	path = .vim/bundle/nginx.vim
	url = git://github.com/vim-scripts/nginx.vim
[submodule ".vim/bundle/dockerfile.vim"]
	path = .vim/bundle/dockerfile.vim
	url = git://github.com/honza/dockerfile.vim
