[submodule ".bin"]
	path = .bin
	url = git://github.com/akerl/scripts
[submodule ".tools/ssl-tools"]
	path = .tools/ssl-tools
	url = https://github.com/mislav/ssl-tools
[submodule ".pure"]
	path = .pure
	url = https://github.com/akerl/pure
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
