[core]
    excludesfile = ~/.global_gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
    co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
    patch = !git --no-pager diff --no-color
    yolo = !sh -c 'git commit -a -m "`curl -s http://whatthecommit.com/index.txt`"'

[commit]
    gpgSign = true
    template = ~/.gitmessage

[diff]
    compactionHeuristic = true

[help]
    autocorrect = 1

[merge]
    ff = only

[push]
    default = current

[status]
    submoduleSummary = true

[tag]
    forceSignAnnotated = true

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[user]
    name = Les Aker
    email = me@lesaker.org
    signingkey = 0x49164EC50535DBED

[versionsort]
    prereleaseSuffix = -rc

