[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[alias]
    patch = !git --no-pager diff --no-color

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[commit]
    template = ~/.gitmessage

[diff]
    algorithm = histogram
    indentHeuristic = true
    colorMoved = default
    submodule = log

[help]
    autocorrect = 1

[merge]
    ff = only
    conflictstyle = zdiff3

[rebase]
    autostash = true
    autosquash = true

[push]
    default = current

[submodule]
    recurse = true

[status]
    submoduleSummary = true

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "https://github.com/"

[url "https://github.com/"]
    insteadOf = "github:"
    insteadOf = "git://github.com/"

[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "https://gist.github.com/"

[url "https://gist.github.com/"]
    insteadOf = "gist:"

[user]
    name = Les Aker
    email = me@lesaker.org

[versionsort]
    prereleaseSuffix = -rc

[init]
    defaultBranch = main

[include]
    path = ~/.gitconfig.d/local
