[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[alias]
    patch = !git --no-pager diff --no-color

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    features = mellow-barbet

[commit]
    template = ~/.gitmessage

[branch]
    sort = committerdate

[tag]
    sort = version:refname

[diff]
    algorithm = histogram
    indentHeuristic = true
    colorMoved = plain
    mnemonicPrefix = true
    renameplain
    mnemonicPrefix = true
    renames = true
    submodule = log

[help]
    autocorrect = 1

[merge]
    ff = only
    conflictstyle = zdiff3

[rebase]
    autostash = true
    autosquash = true

[push]
    default = current

[submodule]
    recurse = true

[status]
    submoduleSummary = true

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "https://github.com/"

[url "https://github.com/"]
    insteadOf = "github:"
    insteadOf = "git://github.com/"

[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "https://gist.github.com/"

[url "https://gist.github.com/"]
    insteadOf = "gist:"

[user]
    name = Les Aker
    email = me@lesaker.org

[versionsort]
    prereleaseSuffix = -rc

[init]
    defaultBranch = main

[delta "mellow-barbet"]
    # author: https://github.com/kvrohit
    # To configure terminal colors see https://github.com/kvrohit/mellow.nvim#terminals
    dark = true
    syntax-theme = base16
    line-numbers = true
    side-by-side = true
    file-style = brightwhite
    file-decoration-style = none
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    hunk-header-decoration-style = "#3e3e43" box ul
    plus-style = brightgreen black
    plus-emph-style = black green
    minus-style = brightred black
    minus-emph-style = black red
    line-numbers-minus-style = brightred
    line-numbers-plus-style = brightgreen
    line-numbers-left-style = "#3e3e43"
    line-numbers-right-style = "#3e3e43"
    line-numbers-zero-style = "#57575f"
    zero-style = syntax
    whitespace-error-style = black bold
    blame-code-style = syntax
    blame-palette = "#161617" "#1b1b1d" "#2a2a2d" "#3e3e43"
    merge-conflict-begin-symbol = ~
    merge-conflict-end-symbol = ~
    merge-conflict-ours-diff-header-style = yellow bold
    merge-conflict-ours-diff-header-decoration-style = "#3e3e43" box
    merge-conflict-theirs-diff-header-style = yellow bold
    merge-conflict-theirs-diff-header-decoration-style = "#3e3e43" box

[include]
    path = ~/.gitconfig.d/local
